---
---

@import "{{ site.theme }}";

html {
  scroll-behavior: smooth;
}
#salary_pension {th, td{padding:0.5rem 0.5rem}}
#refund_table {th, td{padding:0.5rem 0.5rem}}
#tax_credits_table {th, td{padding:0.8rem 0.8rem}}

.shekel {white-space: nowrap;}

#subtotals .shekel {
  text-align: right;
}


table {margin-bottom:8px;
  overflow: visible;
  position: relative;
}

.pretty_button_large {font-size: 120%;
				padding: 8px 16px;}

.pretty_button_regular {padding: 8px 8px;}				

.pretty_button {text-decoration: none;
				color:#567482;
				border: solid 1px #dce6f0;
				border-radius: 0.3rem;
				display: inline-block;
				background-color:#f8f8f8;
				overflow: hidden;}
				
.pretty_button:hover {background-color:#fdfdfd}

a:hover {text-decoration: none}


/*collapsible content style*/
input.toggle[type='checkbox'] {
  display: none;
}
.lbl-toggle {
  display: block;
/*
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  /*text-align: center;*/

  /*padding: 1rem;*/

  /*color: #A77B0E;*/
  /*background: #FAE042;*/

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.triangle {
  content: ' ';
  display: inline-block;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;

  /* vertical-align: middle;*/
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  /*background: rgba(250, 224, 66, .2);*/
  /*border-bottom: 1px solid rgba(250, 224, 66, .45);*/

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 80em; /*80em;*/
}

.toggle:checked + .lbl-toggle + .collapsible-content.long {
  max-height: 400em; /*80em;*/
}

.toggle:checked + .lbl-toggle .triangle {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


// tooltip style
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  font-size: 0.85rem;
  overflow: visible;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #e9ebec;
  color: #606c71;
  padding: 5px;
  border-radius: 6px;
  font-size: 0.85rem;
  overflow: visible;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1000;
}

.tooltip-top-wide .tooltiptext-top-wide {
  bottom: 100%;
  left: 50%;

  text-align: center;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  width: 500px;
  margin-left: -250px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip-top-regular .tooltiptext-top-regular {
  bottom: 100%;
  left: 50%;

  text-align: center;
  width: 250px;
  margin-left: -125px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip-right .tooltiptext-right {
  text-align: left;
  top: 50%;
  left: 105%;
  width: 400px;
  transform: translateY(-50%); /* Center the tooltip vertically */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
